streamlit
pandas
geopandas
shapely
fiona
pyproj
openpyxl
folium
streamlit-folium
gpxpy
Pillow
simplekml
pdfplumber
beautifulsoup4
lxml
pykml
opencv-python-headless
pytesseract
pdf2image
xlrd
xlsxwriter
